@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,800&family=Work+Sans:ital,wght@0,400;0,700;0,800;1,600&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

nav {
    background-color: #FFFFFF;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);


}

.nav-container {

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

.logo-container {

    display: flex;
    width: 50%;

    align-items: center;
}

.logo-container img {

    width: 86.041px;
    height: 40px;
    flex-shrink: 0;






}

.logo-container p {
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    margin-left: 80px;

}


.hive-section {
    color: #FF42A5;

}

.nav-items-container {

    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-items-container a {
    text-decoration: none;
    font-size: 18px;

    font-weight: 500;
    color: #3C354F;
}

.fa-youtube {
    font-size: 25px;
    margin-left: 20px;
    color: red;


}

.fa-tiktok {
    font-size: 21px;
    margin-left: 30px;

}

.box {
    width: 262px;
    height: 56px;

    display: flex;
    align-items: center;
    padding-left: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

/*  */

.teams-container {


    /* 
    display: grid;
   grid-template-columns: repeat(2,1fr);
    border: 2px solid aqua; */

    margin: 0 auto;
    max-width: 2000px;

    display: flex;

    padding: 10px;
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;


}



.teams-image {

    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 1.5rem;

    width: 50%;



}

.teams-content {


    max-width: 1400px;
    margin-left: 238px;
    width: 40%;




}

.teams-title1 {
    font-size: 48px;
    color: #0B0223;
    font-weight: 600;
    margin-left: 12px;
}

.teams-title2 {

    margin-top: -30px;
    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

.btn-primary {


    padding: 21px 40px;


    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    border: none;
    font-size: 20px;

    font-weight: 600;
    line-height: normal;
    margin-top: 20px;



}

.btn-primary1 {


    padding: 21px 40px;
    margin-left: 20px;

    width: 185px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    border: none;
    font-size: 20px;

    font-weight: 600;
    line-height: normal;
    margin-top: 20px;



}

.teams-description {

    font-size: 20px;
    font-style: normal;
    font-weight: 500;

}

.banner-content {

    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;


}

.ab {

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 48px;

    font-weight: 700;

}

.banner-description {
    font-size: 18px;
    color: #534C64;
    font-weight: 400;
}

.n {



    display: flex;
    justify-content: space-around;




}

.nobita-img img {

    border: 10px solid white;


}

.textt {




    max-width: 1500px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;


}

.textt p {

    font-size: 20px;
    font-style: normal;
    font-weight: 500;

}

.abc {




    margin-right: -20px;

}

.miku {


    margin-right: -20px;
}


.horse-container {


    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1500px;

    margin: 0 auto;

    margin-top: 150px;






}

.horse-text {

    text-align: center;
    position: relative;
    top: 200px;




}

.horse-text h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;

}


.horse-text p {
    font-size: 18px;

    font-weight: 400;
}




.horse-img img {

    margin-left: 100px;
}

.black-ship {

    margin-left: 77px;

}

.black-ship1 {

    color: #F948B2;





}

.horse-img2 img {


    position: relative;
    left: 700px;
    bottom: 300px;
}



.up-footer {

    max-width: 2000px;
    margin: 0 auto;

    min-height: 400px;
    padding: 100px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);




}

.div1 {


    min-height: 100px;

    display: flex;
    justify-content: space-evenly;

}



.div1 button {

    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    gap: 15px;
    border-radius: 50px;
    background: #FFF;
    border: none;
}


.div2 button {

    display: flex;
    align-items: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    gap: 15px;
    border-radius: 50px;
    background: #FFF;
    border: none;
}



.div1 :hover {

    border: 5px solid #FF42A5;

}

.div2 :hover {

    border: 5px solid #FF42A5;

}

.op:hover {

    transform: rotate(45deg);
    border: 5px solid white
}



.div1 button img {

    border-radius: 50px;
    border-color: #FFF;

}

.div2 button img {

    border-radius: 50px;
    border-color: #FFF;

}


.div2 {

    width: 80%;
    margin-left: 150px;
    margin-top: 100px;
    min-height: 100px;

    display: flex;
    justify-content: space-evenly;


}

.main-footer-div {


    max-width: 2000px;
    margin: 0 auto;
    min-height: 600px;

    background: #0B0223;




}

.fdiv1 {


    min-height: 70px;

    width: 20%;
    padding: 20px;

    text-align: center;
    margin: 50px auto;
}

.hive-section2 {


    font-size: 45px;
    color: #FF42A5;
    font-weight: 700;


}

.hive-section3 {
    font-size: 45px;
    color: white;
    font-weight: 700;



}

.fdiv2 {

    min-height: 70px;

    width: 80%;
    padding: 20px;

    text-align: center;
    margin: 50px auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: -80px;

}

.fdiv2 p {

    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;

}

.fdiv3 {
    min-height: 70px;

    width: 80%;
    padding: 10px;


    margin: 10px auto;
    margin-top: -50px;

}

.fdiv3>ul {


    display: flex;
    justify-content: space-evenly;


}

.fdiv4 {

   
    display: flex;
    justify-content: space-evenly;


}



.fdiv4 p {

    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;


}

.last{

    font-size: 16px;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin-top: 80px;

}